.contactContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0 40px 0;
	background: teal;
	color: white;
	width: 100%;
	font-family: 'Merienda', cursive;
}

form {
	padding-top: 20px; 
	text-align: center;
	display:  inline-block;
	/*margin: 0 auto;*/
}

input, textarea {
	width: 80%;
	padding: .7rem;
	border-radius: 6px 17px;
	outline: none;
	font-family: 'Poppins', sans-serif;
	color: teal;
}

textarea {
	resize: none;
}


#contactForm label, input[type="submit"] {
	font-family: 'Merienda', cursive;
	font-weight: bold;
}



input:focus, textarea:focus {
	border-radius: 6px 17px;
	box-shadow: 0 0 0 2PX gray;
}

@media screen and (min-width: 768px) {
	#contactForm {
		width: 700px;
	}
}

@media screen and (min-width: 420px) {
	#contactForm {
		border: 0 10px;
	}

}

