
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	display: grid;
	grid-template-columns: auto auto;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 100px;
	padding-bottom: 50px;
	background-color: teal;
	width: 100%;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.19);
}

.desktopNav {
	display: none;
}

.desktopNav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.desktopNav ul li {
	margin: 0 1rem;
	cursor: pointer;
	transition: .6s ease-in;
}

.desktopNav a, a{
	color: white;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: .5px;
	font-family: 'Akaya Telivigala', cursive;
}

.desktopNav ul li:nth-child(1) {
	transform: translateY(-8px);
}

.desktopNav ul li:nth-child(3) {
	transform: translateY(-8px);
}

.desktopNav ul li:nth-child(3):hover {
	transform: translateY(-2px);
}

.desktopNav ul li:nth-child(1):hover {
	transform: translateY(-2px);
}

.desktopNav ul li:nth-child(2):hover {
	transform: translateY(-6px);
}

.desktopNav ul li:nth-child(4):hover {
	transform: translateY(-6px);
}

#name {
	padding: 0 1rem 0;
	font-family: 'Akaya Telivigala', cursive;
	color: white;
}

#hambuger {
	margin: 0rem .5rem -6.5rem 0;
}


.mobileNav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: rgba(100, 100, 100, 0.8);
	position: fixed;
	z-index: 10;
	overflow-x: hidden;
	transition: height .3s;
}

.mobileNav a {
	background: rgba(100, 100, 100, 0);
	width: 100%;
	text-align: center;
	margin: .3rem 0;
	padding: 15px;
}

.mobileNav a:hover {
	/*background: #aaa;*/
	background: teal;
}

#close {
	color: white;
	font-weight: bold;
	font-size: 80px;
	cursor: pointer;
	text-align: center;
}

@media screen and (min-width: 768px) {
	#hambuger {
		display: none;
	}

	.mobileNav {
		display: none;
	}

	.desktopNav {
		display: block;
		margin-right: 70px;
	}

	#name {
		margin: 3rem 0 0 7rem;
	}
}