#projects {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
/*	justify-content: center;
	align-items: center;*/
}

#projects div {
	margin: 20px auto;
	height: 200px;
	width: 200px;
	background: #bbb;

}
