:root {
	--bg-white: white;
	--bg-black: black;
	--teal-100: #34ead4;
}

.h-0 {
	height: 0;
}

.h-100 {
	height: 100vh;
}

.styled {
	font-family: 'Merienda', cursive;
	color: teal;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.blue {
	color: #3b5998;
}

.tblue {
	color: #1DA1F2;
}

.github {
	color: #3E2C00;
}

.linkedIn {
	color: #0e76a8;
}