:root {
	--bg-white: white;
	--bg-black: black;
	--teal-100: #34ead4;
}

.h-0 {
	height: 0;
}

.h-100 {
	height: 100vh;
}

.styled {
	font-family: 'Merienda', cursive;
	color: teal;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.blue {
	color: #3b5998;
}

.tblue {
	color: #1DA1F2;
}

.github {
	color: #3E2C00;
}

.linkedIn {
	color: #0e76a8;
}

.changeDiv {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	display: flex;
	/*background-image: linear-gradient(to right, #77EED8, #9EABE4);*/
	background-image: linear-gradient(to right, teal, lightgreen);
	/*flex-direction: column;*/
	align-items: center;
	justify-content: space-around;
	color: white;
	transition: display 4s ease;
}

.changeDiv form {
	margin-top: -3rem;
}

.changeDiv span {
	font-size: 100px;
	cursor: pointer;
	position: relative;
	top: -180px;
	left: 100px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	transition: position 3s ease;

	display: grid;
	grid-template-columns: auto auto;
	align-content: center;
	justify-content: space-between;
	margin: 0 0 2rem 0;
	background-color: teal;
	padding-bottom: 3rem;
	height: 70px;
}